html{
    width: 100%;
    height: 100%;
}
body{
    height: 100%;
    margin: 0;
    font-family: consolas;
}
.content{
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 800px;
    border: 1px #ccc solid;
    border-bottom: none;
    display: flex;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}
.messages{
    height: calc(100% - 50px);
    margin: 0;
    padding: 0;
    overflow: auto;
}
.messages li{
    list-style: none;
    margin: 4px 0;
    padding: 4px 0;
}
.single_msg{
    text-align: center;
    font-size: 12px;
    color: #afadad;
}
.single_msg .user_name{
    color: #1f1f1f;
}
.every_message{
    display: flex;
    font-size: 15px;
    align-items: center;
}
.every_message .each_name{
    color: green;
    font-weight: bold;
    margin-right: 15px;
    /*min-width: 50px;*/
    max-width: 100px;
    /*overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;*/
}
.every_message .each_words{
    position: relative;
    border: 1px #ccc solid;
    border-radius: 4px;
    padding: 8px;
    word-break: break-word;
    max-width: 245px;
    min-width: 100px;
}
.every_message .each_words::before{
    content: '';
    display: block;
    position: absolute;
    top: 13px;
    left: -5px;
    width: 8px;
    height: 8px;
    background: #fff;
    border: 1px solid;
    border-color: #ccc #ccc transparent transparent;
    transform: rotate(-135deg);
    z-index: 101;
}
.current_user{
    flex-direction: row-reverse;
}
.current_user .each_name{
    margin-left: 15px;
    margin-right: 0;
}
.current_user .each_words{
    background: #4eb900;
    color: #fff;
    border-color: #4eb900;
}
.current_user .each_words::before{
    content: '';
    left: initial;
    right: -5px;
    background: #4eb900;
    border-color: #4eb900 #4eb900 transparent transparent;
    transform: rotate(45deg);
}
.send{
    width: 100%;
    height: 40px;
    display: flex;
    position: fixed;
    bottom: 1px;
    left: 0;
}
.send input{
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    font-size: 1em;
    height: 100%;
    line-height: 1.4;
    outline: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}
.send .value{
    flex: 5;
    text-indent: 4px;
}
.send .btn{
    width: 80px;
    background: #4eb900;
    color: #fff;
    cursor: pointer;
}